<a href="messages.html">
    <div class="row">
      <div class="col-xs-3">
        <img src="profile_pic.jpg" class="center-cropped" alt="Cinque Terre">
      </div>
      <div class="col-xs-9">
        <div class="row">
            <h4 class="participantName">Takashi Wickes
              <span id="unreadMessage" class="badge">

                  <span id="messagesIcon" class=" fa fa-comments" aria-hidden="true">
                  </span>
                  <p style="display: inline">10</p>
              </span>
              </h4>
        </div>
        <div id="messageSnippet" class="row">
          <p>Here is the message snippet</p>
        </div>
        <div id="timeStamp" class="row">
          <p> <span id="clockIcon" class="fa fa-clock-o" aria-hidden="true"></span>10:00pm</p>
        </div>
      </div>

    </div>
    <hr width="92%">
  </a>
    <!-- +++++++++++++++++++++++++++++++++++++++++ -->