    <!-- ++++++Your Messages+++++++++++++++++++++++++++++++++++ -->
<div class="row">
  <div class="col-xs-2">
    <img src="profile_pic.jpg" class="center-cropped" alt="Cinque Terre" style="height: 40px; width: 40px; margin-top: 8px;">
  </div>
  <div class="col-xs-8">
    <div class="row">
    </div>
    <div id="messageBody" class="row">
      <p>[BODY]</p>
    </div>


  </div>
  <div class="col-xs-2">
    <!-- <div id="timeStampsm" class="row">
      <p>10:00pm</p>
    </div> -->
  </div>
</div>